body{
  background: url("background.jpg");
  height: 100vh;
  background-size: 100% 100%;
 background-attachment: fixed;
font-family:  Arial, Helvetica, sans-serif;


}
.mnk{
  display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.set{
  width: 25%;
  text-align: center;
}

.main_sec{
  width: 90%;
      margin: 20px auto;
      background-color: white;
      padding: 20px 0px;
      border-radius: 50px;
}
.tab-content{
  padding: 5%;
}
.date_time{
  display: flex;
}
.box{
  padding: 5px;
  margin: 5px;
}
.Interview{
  display: flex;
   justify-content: space-around;
}
table{
  font-family: arial;
  border-collapse: collapse;

}
td, th{
  border:1px solid #cccccc;
  padding:5px;
}
th{
  font-weight: bold;

}
#nav-view{
  overflow: scroll;
}
#invite_link{
  width: inherit;
      border: 1px solid grey;
      border-radius: 4px;
      padding: 5px;
      margin-left: 5px;
}
#invt{
  display: flex;
}
#invt>h4{
  width: auto;
  margin: 0px 5px;
}
